{% extends 'base.html' %}

{% block body %}
<h1>Edit Task :: {{ project.title }}</h1>
<form action="{{url_for('task_edit', project_id=project.id, task_id=task.id)}}" method="POST">
    <div class="form-group row">
        <div class="col-8">
            <input name="description" type="text" class="form-control" value="{{ task.description }}">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Update Project</button>
            <a href="{{url_for('task_all', project_id=project.id)}}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}