{% extends 'base.html' %}

{% block body %}
<h1>Projects</h1>
<form action="{{url_for('project_add')}}" method="POST">
    <div class="form-group row">
        <div class="col-10">
            <input name="title" type="text" class="form-control">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Add New Project</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-2">
        Task
    </div>
    <div class="col-7">
        Project Title
    </div>
    <div class="col-3">
        Action
    </div>
</div>
<hr>
{% for project in all_projects %}
<div class="row mb-2">
    <div class="col-2">
        <a href="{{url_for('task_all', project_id=project.id)}}" class="btn btn-sm btn-primary">Task</a>
    </div>
    <div class="col-7">
        {{project.title}}
    </div>
    <div class="col-3">
        <a href="{{url_for('project_edit', project_id=project.id)}}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{{url_for('project_delete', project_id=project.id)}}" class="btn btn-sm btn-danger">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}